/* ===================================================== 

                    Main Style File

   ===================================================== */
.container{
	width: 90%;
	margin: 0 auto;
    max-width: 1280px;
}
/* Takes 100% of the width inside a container */
.row {
    margin-left: auto;
    margin-right: auto;
}
/* Share the 100% row width among columns */
.col {
	float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 1px;	
}

.row .col.s1{width:8.3333333333%;}.row .col.s2{width:16.6666666667%;}.row .col.s3{width:25%;}.row .col.s4{width:33.3333333333%;}.row .col.s5{width:41.6666666667%;}.row .col.s6{width:50%;}.row .col.s7{width:58.3333333333%;}.row .col.s8{width:66.6666666667%;}.row .col.s9{width:75%;}.row .col.s10{width:83.3333333333%;}.row .col.s11{width:91.6666666667%;}.row .col.s12{width:100%;}

@media only screen and (min-width: 600px) {
.container{
	width: 85%;
}
.row .col.m1{width:8.3333333333%;}.row .col.m2{width:16.6666666667%;}.row .col.m3{width:25%;}.row .col.m4{width:33.3333333333%;}.row .col.m5{width:41.6666666667%;}.row .col.m6{width:50%;}.row .col.m7{width:58.3333333333%;}.row .col.m8{width:66.6666666667%;}.row .col.m9{width:75%;}.row .col.m10{width:83.3333333333%;}.row .col.m11{width:91.6666666667%;}.row .col.m12{width:100%;}

}
@media only screen and (min-width: 992px) {
.container{
	width: 70%;
}
.row .col.l1{width:8.3333333333%;}.row .col.l2{width:16.6666666667%;}.row .col.l3{width:25%;}.row .col.l4{width:33.3333333333%;}.row .col.l5{width:41.6666666667%;}.row .col.l6{width:50%;}.row .col.l7{width:58.3333333333%;}.row .col.l8{width:66.6666666667%;}.row .col.l9{width:75%;}.row .col.l10{width:83.3333333333%;}.row .col.l11{width:91.6666666667%;}.row .col.l12{width:100%;}
}	

/* =================================== */

/* font for icons */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dk60am');
  src:  url('../fonts/icomoon.eot?dk60am#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dk60am') format('truetype'),
    url('../fonts/icomoon.woff?dk60am') format('woff'),
    url('../fonts/icomoon.svg?dk60am#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'CascadiaCode';
  src: url('../fonts/CascadiaCode.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: 'CascadiaCode', sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,0.87);
}
body {
  --bgcolor: white;
  --bg-shade-1: #cdcdcd;
  --bg-shade-2: #e9e9e9;
  --textcolor: black;
  --txt-shade-1: #4d4d4d;
  --shadow-color: rgb(0 0 0 / 10%);
  --footer-bg-color: #d8d8d89e;
  --footer-txt-color: #9da1a6;
  --accent-color : orange;
  --code-bg-color: #e9e9e9;
  --a-color:#007b8a;
  --disabled-color: #b3b3b3;

  background-color: var(--bgcolor);
  color: var(--textcolor);
  margin: 0px;
  /* background: url('../images/bg.png'); */
  min-height: 100vh;
  font-weight: 300;
  font-size: 14px;
}

body.dark {
  /* Dark mode variables go here */
  --bgcolor: black;
  --bg-shade-1: #3a3a3a;
  --bg-shade-2: #2e2e2e;
  --textcolor: white;
  --txt-shade-1: #727272;
  --shadow-color: rgb(255 255 255 / 10%);
  --footer-bg-color: #5f5f5f91;
  --footer-txt-color: #9da1a6;
  --code-bg-color: #191919;
  --a-color:#aee2ff;
  --disabled-color: #4d4d4d;
}
/* For separating content from footer such
   that footer always remains at the bottom 
   Applied to body */
.pg-flexbox {
	display:flex;
	min-height:100vh;
	flex-direction: column;
}

/* Container will grow to fit empty space  
   All content besides footer goes inside this*/
.pg-flexbox-content {
	flex-grow: 1;
}

/* Doesn't grow under flexbox body.
   Default value anyway. Can work without this */
.pg-flexbox-foot {
	flex-shrink: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.3;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a {
    color: var(--a-color);
    text-decoration: none;
}
p a, li a {
  text-align: center;
  transition: all .25s cubic-bezier(.86,0,.07,1);
  text-decoration: none;
  color: var(--textcolor);
  box-shadow: inset 0 -2px 0 -1px var(--textcolor);
  display: unset;
  padding:0 2px;
}
p a:hover, li a:hover {
  box-shadow: inset 0 -50px 0 -1px var(--textcolor);
  color: var(--bgcolor);
}

/* A whitespace respectingblock style piece of text. 
   Usually parent of code which is inline */
pre { 
	background-color:var(--code-bg-color);
	border-radius:5px;
	padding:10px;
	width: fit-content;
  max-width: 100%;
	overflow: auto;
  box-sizing: border-box;
  position: relative;
  transition: height 0.3s ease-out;
}
pre.collapsed {
  height: 3.6em;
  overflow: hidden;
  cursor: pointer;
}
pre.collapsed:hover {
  /* make it seem clickable */
  background-color: var(--bg-shade-1);
}
.code-container {
  position: relative;
  width: max-content;
  max-width: 100%;
}
.code-collapse-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 22px;
  cursor: pointer;
  background-color: var(--txt-shade-1); /* this is the color of arrows */
  border-radius: 0 5px 0 0;
  mask-size: 15px;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: background-color 0.3s;
  
}
.code-collapse-button:hover {
  background-color: var(--textcolor);
}

.code-collapse-button.down {
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M15 20l-10-10h20z"/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M15 20l-10-10h20z"/></svg>');
}

.code-collapse-button.up {
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M15 10l10 10H5z"/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M15 10l10 10H5z"/></svg>');
}

/* Scrollbar style */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #706f6f;
  border-radius: 7px;
  border-right: 1px solid var(--bgcolor);
    border-left: 1px solid var(--bgcolor);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #2e2d2d;
}

/* Inline code */
code {
	background-color:var(--code-bg-color);
	border-radius:2px;
	padding: 2px 3px;
}
/* remove styling when under 'pre' tag */
pre code {
	background-color:inherit;
	border-radius:0px;
	padding: 0px;
}
blockquote {
	margin-left: 20px;
	padding:12px;
	background-color: var(--code-bg-color);
	border-left: 3px solid var(--textcolor);
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #c0c0c0;
} 
:target {
  animation: anchor-in 2s;
}
table {
	width:100%;
	background-color: var(--code-bg-color);
	border-radius: 0px;
	border-collapse: collapse;
	table-layout: auto;
  overflow: auto;
}
.article table {
  display:inline-block;

}
thead {
    font-weight: bold;
}
td, th {
    padding: 10px 8px;
	border: none;
}
tr {

}
tr:nth-child(odd) {
    background-color: rgb(189 189 189 / 13%);
}
u {
    text-decoration: underline;
}
/* Putting inside common to have access in edit page*/
.article {
	max-width: 100%;
	width: 100%;
}
.article p, .article ul, .article ol, .article blockquote, 
.article pre, .article table, .article figure {
  width: 600px;
  max-width: 100%;
}
.article ul, .article ol {
  padding-left: 20px;
}
.article .outline {
  display: block;
  padding: 2em;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid var(--textcolor);
}
.article .outline::before {
  content: "Outline";
  display: block;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--textcolor);
}
.article .outline ul, .article .outline ol {
  width: unset;
  list-style-type: none;
}
.article .full-width {
  width: 90vw; 
  margin-left: calc((-90vw + 100%) / 2);
  margin-right: calc((-90vw + 100%) / 2);
  
}


footer {
  width: 100%;
  background-color: var(--footer-bg-color);
  color: var(--footer-txt-color);
  padding: 2em 0 2em 0;
  margin-top:10px;
}

/* Lightmode | Darkmode button =============== */
#lightdark-container{
  cursor: pointer;
  transition: all 0.6s;

}
#lightdark-container input {
  display: none;
}
#lightdark-btn {
   /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:27px;
  height:27px;
  font-size: 27px;
  border-radius: 15px;
  overflow: hidden;
}

#lightdark-btn:hover {
	color:var(--accent-color);
}

#lightdark-btn:before {
	content:'\e900';
	display:inline-block;
	animation: moon-set 0.7s forwards;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}
#lightdark-container input:checked ~ #lightdark-btn:before {
	content:'\e901';
	display:inline-block;
	animation: sun-set 0.7s forwards;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}


.tooltip {
  background-color: var(--bgcolor);
  color: var(--textcolor);
  border-radius: 2px;
  border: 1px solid;
  padding: 4px 9px;
}
.tooltip .text {
  color: var(--textcolor);
  font-size: 12px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--textcolor); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing .5s steps(40, end),
    blink .75s step-end infinite;
}

.post_date {
  color: grey;
  font-size: 0.8em;
  display: block;
}

@keyframes moon-set {
  0% {
	opacity:100%;
  }
  50% {
	transform: translate(-100%,100%);
	opacity:100%;
	content:'\e900';
  }
  50.01% {
	opacity:0%;
	transform: translate(100%,-100%);
	content:'\e901';
  }
  51% {
	opacity:100%;
  }
  100% {
    transform: translate(0,0);
	content:'\e901';
  }
}

@keyframes sun-set {
  0% {
	opacity:100%;
  }
  50% {
	transform: translate(-100%,100%);
	opacity:100%;
	content:'\e901';
  }
  50.01% {
	opacity:0%;
	transform: translate(100%,-100%);
	content:'\e900';
  }
  51% {
	  opacity:100%;
  }
  100% {
    transform: translate(0,0);
	content:'\e900';
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: var(--textcolor); }
}

/* ---- Mid size screens ---- */
@media only screen and (min-width: 600px) {
  h1 {
  }
  h2 {
  }
  h3 {
  }
  h4 {
  }

}

/* ---- Large screens ---- */
@media only screen and (min-width: 992px) {
  
}

/* ====================================================

                         END COMMON 
   
   ====================================================*/
