/* font for icons */
@font-face {
  font-family: 'icomoon';
  src:  url('../icon-fonts/icomoon.eot?dk60am');
  src:  url('../icon-fonts/icomoon.eot?dk60am#iefix') format('embedded-opentype'),
    url('../icon-fonts/icomoon.ttf?dk60am') format('truetype'),
    url('../icon-fonts/icomoon.woff?dk60am') format('woff'),
    url('../icon-fonts/icomoon.svg?dk60am#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  scroll-behavior: smooth;
}
body {
  --bgcolor: white;
  --textcolor: black;
  --shadow-color: rgb(0 0 0 / 10%);
  --tag-border-color: rgb(0 0 0 / 14%);
  --tag-hover-color: #efefef;
  --footer-bg-color: #e2e8f091;
  --footer-txt-color: #9da1a6;
  --about-text-inset: -45px;
  --bevel-rotation: 40deg;
  --bevel-color: rgb(180 180 180 / 58%);

  background-color: var(--bgcolor);
  color: var(--textcolor);
  margin: 0px;
  /* background: url('../images/bg.png'); */
}

body.dark {
  /* Dark mode variables go here */
  --bgcolor: black;
  --textcolor: white;
  --shadow-color: rgb(255 255 255 / 10%);
  --tag-border-color: rgb(255 255 255 / 18%);
  --tag-hover-color: #727272;
  --footer-bg-color: #5f5f5f91;
  --footer-txt-color: #9da1a6;
  --bevel-color: rgb(71 71 71 / 58%);

}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #c0c0c0;
} 
:target {
  animation: anchor-in 2s;
}
h1 {
  transition: all 1s;
}

.project-card {
  border-radius: 10px;
}

/* Css for screen/slide/page */
.screenbox {
  width: 100%;
  min-height: -webkit-fill-available;
  float: left;
  clear: none;
}

#about {
  min-height: 100vh;
}

#projects {}

#about-lightdark-row {
  position: relative;
}

#lightdark-container{
  position: absolute;
  right: 0px;
  top: 50%;
  cursor: pointer;
  transition: all 0.6s;

}
#lightdark-container input {
  display: none;
}
#lightdark-btn {
   /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:27px;
  height:27px;
  font-size: 27px;
  color: var(--textcolor);
  border-radius: 15px;
  overflow: hidden;
}

#lightdark-btn:before {
	content:'\e900';
	display:inline-block;
	animation: moon-set 0.7s forwards;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}
#lightdark-container input:checked ~ #lightdark-btn:before {
	content:'\e901';
	display:inline-block;
	animation: sun-set 0.7s forwards;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}


#about-card {
  background-color: inherit;
  animation: fade-in 1s forwards;
  /* From https://css.glass */
  /* box-shadow: 16px 20px 30px 20px rgb(0 0 0 / 10%); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display:flex;
  transition: all 1s;
}

#about-card-row{
	margin-bottom: 0px;
	perspective:800px;
	padding:0px;
}

#about-img-side {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  box-shadow: -19px 7px 18px 10px var(--shadow-color);
}

#my-picture {
  width: 100%;
  height:auto;
  display: block;
  color: inherit;
  tranistion: all 1s;
}

#bevel-strip {
	background-color: var(--bevel-color);
	height: 100%;
	padding:0px;
	transform: rotateY(90deg);
	transform-origin: top left;
	box-shadow: -7px 4px 16px 10px var(--shadow-color);
}

/*to be added by JS after calc aboutTextAngle*/
#bevel-strip.anim {
	animation: bevel-turn 1s forwards;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	animation-delay: 0.6s;
}

#about-text-side {
	 box-shadow: 4px 0px 9px 4px var(--shadow-color);
	 height: 100%;
/*
============  Aligning with bevel strip ============
X: intial width of bevel without rotation
Xs: shrunk width due to rotation. 
d: the difference, need to move about-text by this much.
<AL angle of bevel rotation.


Xs = X * cos(<A)
X  = 100% / 12

d  = X - Xs
d  = X - Xcos(<A)
d  = X(1 - cos(<A))

d  = (100% / 12)(1 - cos(<A))   [Bevel = 1 of 12 Materialize columns]
or
d = (100% / 12) - (100% / 12) * cos(<A)
or
d = (100% / 12)(1 - 0.76604444311)     [cos40deg = 0.76604444311]


or     
transform: translate3d(calc(-1 * (100% / 5) * (1 - 0.76604444311)),0,-39px);
[about-text is 5 col wide]

====================================================
*/
   
   transform: translate3d(calc(-1 * (100% / 5)), 0, var(--about-text-inset));
   /* overflow-wrap: anywhere; */
}

#about-text-wrapper {
	
}

/*to be added by JS after calc aboutText inset*/
#about-text-side.anim{
	animation: about-text-move 1s forwards; /* diff form set in end anim frame */
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	animation-delay: 0.6s;
}

#intro-section {
  opacity: 0%;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  animation: slide-up 250ms forwards;
  animation-delay: 0.3s;
  text-align: justify;
}

#my-name {
  font-family: 'Comfortaa', cursive;
}


/* Location icon not part of social media icons */

#location-icon {
   /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  display: inline-block;
  
}
#location-icon:before {
  content:'\e947';
}

#location-row {
  opacity: 0%;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  animation: slide-up 250ms forwards;
  animation-delay: 0.7s;
  margin-bottom:1em;
}


/* sprite sheet size = 820 W x 612 H */

#sm-bar {
    text-decoration: none;
    display: inline-block;
    opacity: 0%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    animation: slide-up 250ms forwards;
    animation-delay: 1s;
	margin-bottom:1em;
}

#sm-bar a {
   color:var(--textcolor);
}

.sm-icon {
   /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  margin-right:10px;
}

#github-icon:before {
  content:'\eab0';
}

#linkedin-icon:before {
  content:'\eaca';
}

#twitter-icon:before {
  content:'\ea96';
}


#projects-card-row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content:center;
  margin-right: -30px; /*taking out the extra margin from the last div in row*/
  margin:20px 0px;
}
.project-entry {
  width:250px;
  margin: 0px 20px 20px 0px;
  text-align:left;

  /* background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  position: relative;
  overflow: hidden;
  transition: box-shadow .2s;
  cursor: default;

  background: rgb(255 255 255 / 10%);
  box-shadow: 8px 8px 20px 7px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
}


.project-entry:hover,
.project-entry:focus-within {
  box-shadow: 6px 13px 14px 6px rgb(0 0 0 / 33%);
}

.project-entry .project-entry-image {
  width: 100%;
  height: 130px;
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}
.project-entry .project-entry-title {
  padding: 108px 8px 3px 8px;
  background-image: linear-gradient(76deg, rgb(0 0 0 / 43%), rgb(255 255 255 / 0%));
  width: 100%;
  height: 100%;
  color: white;
}
.project-entry .project-entry-tag-line {
  width: 100%;
  height: 14px;
  padding-top: 2px;
}
.project-entry .project-entry-tag {
    font-size: 8px;
    /* background-color: #e4e4e4; */
    border-radius: 7px;
    display: inline;
    padding: 0 5px 0px 5px;
    float: left;
    margin: 2px 2px 1px 3px;
    transition: color 200ms;
    border: 1px solid var(--tag-border-color);
}
.project-entry .project-entry-tag:hover {
  background-color: var(--tag-hover-color);
}

.project-entry .project-entry-content {
  margin: 3px 0 30px 0;
  padding: 10px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  clear: left;
  font-size: .8em;
}

/* Content overflow scrollbar style */
.project-entry-content::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}
.project-entry-content::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
.project-entry-content::-webkit-scrollbar-thumb {
  background-color: #000000;
  width: 10px;
}

.project-entry .project-entry-foot {
  padding:0 8px 0px 8px;
  width: 100%;
  height:20px;
  margin-bottom: 7px;
  position: absolute;
  bottom: 0px; 
  text-align: right;
}
.project-entry .project-entry-foot a {
  color:black;

}
.project-entry .git-detail-btn {
	font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
	
	color:var(--textcolor);
    display: inline-block;
    width: 20px;
    height: 20px;
}
.project-entry .git-detail-btn:before {
	content: '\eab0';
}

.project-entry .project-details-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url(../images/project-details-icon.png);
  margin-left: 3px;
  border-radius: 4px;

}
.project-entry .project-details-btn:hover {
  background-color: #e6e6e6;

}

/* When more details is clicked on a project */
#details-pop-up {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,75%);
}
#details-centre-box { /*currently done by container materialise class*/

}
#details-popup-contents {
  background-color: var(--bgcolor);
  box-shadow: 0px 0px 12px 6px var(--shadow-color);
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 1em;
}
/* Content overflow scrollbar style */
#details-popup-contents::-webkit-scrollbar-track {
  /* background-color: #c2c2c2; */
  border: 5px solid var(--bgcolor);
}
#details-popup-contents::-webkit-scrollbar {
  width: 12px;
}
#details-popup-contents::-webkit-scrollbar-thumb {
  background-color: #706f6f;
  border-radius: 10px;
  border-right: 2px solid var(--bgcolor);
    border-left: 2px solid var(--bgcolor);
}
#details-popup-contents::-webkit-scrollbar-thumb:hover {
  background-color: #2e2d2d;
}
#popup-close-btn {
  color: black;
  background-color: white;
  padding: 1em 1.46em;
  border-radius: .8em;
  cursor: pointer;
  width: fit-content;
  box-shadow: 0px 0px 12px 6px rgb(0 0 0 / 51%);
  position: absolute;
  top: 1em;
  right: 1em;
  transition: background-color 250ms;
}
#popup-close-btn:hover {
  background-color: #444;
  color: white;
}
.hidden {
  display: none;
}




footer {
  clear: both;
  width: 100%;
  background-color: var(--footer-bg-color);
  color: var(--footer-txt-color);
  padding: 2em 0 2em 0;
}


/* Animations ---------------  */

/* ============================= */

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes small-flyin-animation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(-100%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(-100%);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 100%;
  }
}



@keyframes popup-in {
  from {
    display:none;
    visibility: hidden;
    opacity: 0%;
  }
  to {
    display: inherit;
    opacity: 100%;
    
  }
}
@keyframes popup-out {
  from {
    display: inherit;
    opacity: 100%;
  }
  to {
    display:none;
    visibility: hidden;
    opacity: 0%;
  }
}




@keyframes popup-contents-in {
  0% {
    transform: translateY(100%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}

@-webkit-keyframes popup-contents-in {
  0% {
    transform: translateY(100%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}

@keyframes popup-contents-out {
  0% {
    transform: translateY(0%);
    opacity: 100%;
  }
  100% {
    transform: translateY(100%);
    opacity: 0%;
  }
}

@-webkit-keyframes popup-contents-out {
  0% {
    transform: translateY(0%);
    opacity: 100%;
  }
  100% {
    transform: translateY(100%);
    opacity: 0%;
  }
}

@keyframes anchor-in {
  0% {
    border: 1px solid green;
    border-radius: 10px;
    background-color: green;
  }
  100% {
    border: 0px solid white;
    background-color: transparent;
  }
}

@keyframes bevel-turn {
  0% {
    
  }
  100% {
    transform: rotateY(var(--bevel-rotation));
  }
}

@keyframes about-text-move {
  0% {
    
  }
  100% {
    transform: translate3d(calc(-1 * (100% / 5) * (1 - 0.76604444311)), 0, var(--about-text-inset));
  }
}




@keyframes moon-set {
  0% {
	opacity:100%;
  }
  50% {
	transform: translate(-100%,100%);
	opacity:100%;
	content:'\e900';
  }
  50.01% {
	opacity:0%;
	transform: translate(100%,-100%);
	content:'\e901';
  }
  51% {
	opacity:100%;
  }
  100% {
    transform: translate(0,0);
	content:'\e901';
  }
}

@keyframes sun-set {
  0% {
	opacity:100%;
  }
  50% {
	transform: translate(-100%,100%);
	opacity:100%;
	content:'\e901';
  }
  50.01% {
	opacity:0%;
	transform: translate(100%,-100%);
	content:'\e900';
  }
  51% {
	  opacity:100%;
  }
  100% {
    transform: translate(0,0);
	content:'\e900';
  }
}


/*
-------- Tablet/MidSized Css or lower (mobile)------
*/
@media only screen and (max-width: 992px) {

.sm-icon {
	font-size: 1.6em;
}

.project-entry .project-entry-foot {
    height: 25px;
}

.project-entry .git-detail-btn {
	font-size: 1.6em;
}

}



/* 
------- Mobile CSS --------
*/
@media only screen and (max-width: 600px) {
	
  #lightdark-container {
	transform: translateY(-50%);
  }
  /* For mobile phones: */
  #about-img-side {
    box-shadow: none;
  }
  
  /* No perspective effect on mobile */ 
  #about-text-side {
	 box-shadow: 16px 20px 30px 20px var(--shadow-color);
	 height:auto;
   margin: 0px;
   animation:none;
   transform: translate3d(0,0,0);
   width:100%;
  }
  /* Remove animation */
  #about-text-side.anim{
		animation: none;
  }
  
  #projects-card-row {
    width: 100%;
  }

  .project-entry {
    width: 100%;
    margin: 10px 10%;
  }

  .project-entry .project-entry-image {
    width: 100%;
    height: 152px;
  }

  .project-entry .project-entry-title {
    padding: 128px 8px 3px 8px;
  }
}